<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.mowa.timesheet.timesheet">

    <uses-sdk tools:overrideLibrary="com.wdullaer.materialdatetimepicker" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="br.com.mowa.timesheet.TimeSheetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.com.mowa.timesheet.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.mowa.timesheet.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="br.com.mowa.timesheet.activity.PerfilActivity"
            android:label="@string/activity_perfil_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name="br.com.mowa.timesheet.activity.TasksActivity"
            android:label="@string/title_activity_registros"
            android:theme="@style/AppTheme" />
        <activity
            android:name="br.com.mowa.timesheet.activity.ProjectsActivity"
            android:label="@string/title_activity_projetos"
            android:theme="@style/AppTheme" />
        <activity
            android:name="br.com.mowa.timesheet.activity.NewTaskActivity"
            android:label="@string/title_activity_new_Task"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="br.com.mowa.timesheet.activity.ProjectDetailsActivity"
            android:label="@string/activity_project_details"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="br.com.mowa.timesheet.activity.ProfileEditActivity"
            android:label="@string/activity_profile_edit"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="br.com.mowa.timesheet.activity.ProjectInformationActivity"
            android:label="@string/title_activity_project_information"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
