<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.mowa.timesheet.timesheet" >

    <uses-sdk tools:overrideLibrary="com.wdullaer.materialdatetimepicker" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="br.com.mowa.timesheet.TimeSheetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.mowa.timesheet.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NavDrawer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.mowa.timesheet.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NavDrawer"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="br.com.mowa.timesheet.activity.PerfilActivity"
            android:label="@string/activity_perfil_title"
            android:theme="@style/AppTheme.NavDrawer">
            <!--android:noHistory="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="br.com.mowa.timesheet.activity.HomeActivity"/>-->
        </activity>
        <activity
            android:name="br.com.mowa.timesheet.activity.RegistrosActivity"
            android:label="@string/title_activity_registros">
            <!--android:noHistory="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="br.com.mowa.timesheet.activity.HomeActivity"/>-->
        </activity>
        <activity
            android:name="br.com.mowa.timesheet.activity.ProjetosActivity"
            android:label="@string/title_activity_projetos">
            <!--android:noHistory="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="br.com.mowa.timesheet.activity.HomeActivity"/>-->
        </activity>
        <activity
            android:name="br.com.mowa.timesheet.activity.NewTaskActivity"
            android:label="@string/title_activity_new_Task"
            android:theme="@style/AppTheme.NavDrawer"
            android:windowSoftInputMode="adjustPan">
            <!--android:noHistory="true">-->
            <!--<meta-data-->
            <!--android:name="android.support.PARENT_ACTIVITY"-->
            <!--android:value="br.com.mowa.timesheet.activity.HomeActivity"/>-->
        </activity>
    </application>

</manifest>
