<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.mowa.timesheet.timesheet" >

    <uses-sdk tools:overrideLibrary="com.wdullaer.materialdatetimepicker" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="br.com.mowa.timesheet.TimeSheetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.mowa.timesheet.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NavDrawer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.mowa.timesheet.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NavDrawer"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="br.com.mowa.timesheet.activity.PerfilActivity"
            android:label="@string/activity_perfil_title"
            android:theme="@style/AppTheme.NavDrawer" >
        </activity>
        <activity
            android:name="br.com.mowa.timesheet.activity.RegistrosActivity"
            android:label="@string/title_activity_registros" >
        </activity>
    </application>

</manifest>
